.App {
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 20px;
}

.form-control {
  flex: 1;
  align-items: center;
  display: flex;
  flex-direction: row;
  padding: 5px 0;
}

thead {
  color: green;
}
tbody {
  color: blue;
}
table {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  width: fit-content;
}
table,
th,
td {
  border: 1px solid black;
}
td,
th {
  padding: 5px;
}

.error {
  border-color: rgba(255, 0, 0, 0.6);
}

.error#terms {
  outline: 2px solid #c00;
}

.error-message p {
  margin: 1px;
  color: #c00;
  font-size: 14px;
}
